body{
    width: 390px;
    height: 300px;
    margin-top: 0%;
    margin-left: 0%;
    background: #998235;
}

.oreille {
    width: 80px;
    height: 180px;
    background: #0B2429;
    border-radius: 50%;
    position: absolute;
    top: 60px;
    left: 50px;
    box-shadow: 16px 0 0 0 inset #1A4341;
}
  
.oreille::after {
    content: '';
    width: 80px;
    height: 180px;
    background: #0B2429;
    border-radius: 50%;
    position: absolute;
    top: px;
    left: 220px;
    transform: rotate(180deg);
    box-shadow: 16px 0 0 0 inset #1A4341;
}
  
.tete {
    width: 180px;
    height: 180px;
    background: #1A4341;
    border-radius: 50%;
    position: absolute;
    top: 60px;
    left: 110px;
}
  
.yeux {
    width: 40px;
    height: 40px;
    background: 
      linear-gradient(#1A4341 50%, #0000 50%),
      radial-gradient(#0B2429 10px, #0000 10px), #998235;
    border-radius: 50%;
    position: absolute;
    top: 130px;
    left: 150px;
}
  
.yeux::after {
    content:'';
    width: 40px;
    height: 40px;
    background: 
      linear-gradient(#1A4341 50%, #0000 50%),
      radial-gradient(#0B2429 10px, #0000 10px), #998235;    	 border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 60px;
}
  
.defenses{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 20px solid #FFFFFF;
    position: absolute;
    top: 190px;
    left: 140px;
    clip-path: inset(0 0 50% 0 )
}
  
.trompe{
    width: 40px;
    height: 300px;
    background: #0B2429;
    border-radius: 20px 20px 0 0;
    position: absolute;
    top: 180px;
    left: 180px;
    clip-path: inset(0 0 50% 0 )
}