body{
    width: 390px;
    height: 300px;
    margin-top: 0%;
    margin-left: 0%;
    background: #19191A;
}

.rond {
    width: 150px;
    height: 150px;
    background: #4F77FF;
    border-radius: 50%;
    position: absolute;
    left: 200px;
    top: 125px;
    transform: translate(-50%, -50%);
}
  
.rectangle{
    background: #F9E492;
    position: absolute;
    height: 125px;
    width: 75px;
    left: 125px;
    top: 125px;
}
  
.camembert{
    background: #9AD5FF;
    position: absolute;
    height: 75px;
    border-radius: 0 0 0 100%;
    width: 75px;
    left: 125px;
    top: 125px;
}