body{
    width: 390px;
    height: 300px;
    margin-top: 0%;
    margin-left: 0%;
    background: #293462;
}

.masque {
    position: absolute;;
    left: 125px;
    top: 100px;
    width: 150px;
    height: 100px;
    background: #FFF1C1;
    border-radius: 0 0 50px 50px;
}

.ficelle_g{
    background: #FFF1C1;
    width: 70px;
    height: 60px;
    border-radius: 50px 0 0 50px;
    position: absolute;;
    left: 65px;
    top: 100px;
}

.ficelle_d{
    background: #FFF1C1;
    width: 70px;
    height: 60px;
    border-radius: 0 50px 50px 0;
    position: absolute;;
    left: 265px;
    top: 100px;
}

.ombre_ficelle_g{
    background: #293462;
    width: 50px;
    height: 40px;
    border-radius: 50px 0 0 50px;
    position: absolute;;
    left: 75px;
    top: 110px;
}

.ombre_ficelle_d{
    background: #293462;
    width: 50px;
    height: 40px;
    border-radius: 0 50px 50px 0;
    position: absolute;;
    left: 275px;
    top: 110px;
}

.trait_h{
    height: 10px;
    width: 40px;
    background: #FE5F55;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    left: 145px;
    top: 120px;
}

.trait_b{
    height: 10px;
    width: 40px;
    background: #FE5F55;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    left: 145px;
    top: 140px;
}

.rond{
    height: 40px;
    width: 40px;
    background: #FE5F55;
    border-radius: 50%;
    position: absolute;
    left: 215px;
    top: 140px;
}