body{
  background: #F3AC3C;
}

.rond {
  width: 120px;
  height: 120px;
  background: #998235;
  position: absolute;
  left: 45px;
  top: 90px;
  border-radius: 50%;
}

.rond::before {
  content: '';
  width: 100px;
  height: 100px;
  background: #998235;
  position: absolute;
  left: 70px;
  top: 10px;
  border-radius: 50%;
}

.rond::after {
  content: '';
  width: 50px;
  height: 50px;
  background: #F3AC3C;
  position: absolute;
  left: 95px;
  top: 35px;
  border-radius: 50%;
}

.rond2 {
  width: 40px;
  height: 40px;
  background: #1A4341;
  position: absolute;
  left: 145px;
  top: 130px;
  border-radius: 50%;
}

.manche {
  width: 130px;
  height: 20px;
  background: #1A4341;
  position: absolute;
  left: 200px;
  top: 140px;
}

.manche::after {
  content:'';
  width: 40px;
  height: 30px;
  background: #998235;
  position: absolute;
  left: 115px;
  top: -5px;
  border-radius: 10px;
}

.manche::before {
  content:'';
  width: 10px;
  height: 40px;
  background: #1A4341;
  position: absolute;
  left: -115px;
  top: -10px;
  border-radius: 10px;
  z-index: 1;
}

.bout {
  width: 20px;
  height: 4px;
  background: #1A4341;
  position: absolute;
  left: 325px;
  top: 143px;
  border-radius: 10px;
}

.bout::after {
  content:'';
  width: 20px;
  height: 4px;
  background: #1A4341;
  position: absolute;
  top: 10px;
  border-radius: 10px;
}