body{
    width: 390px;
    height: 300px;
    margin-top: 0%;
    margin-left: 0%;
    background: #191919;
}
   

.base {
    position: absolute;
    width: 120px;
    height: 100px;
    background: #4F77FF;
    border-radius: 100% 100% 20px 20px;
    left: 140px;
    top: 85px;
}

.crane {
    position: absolute;
    width: 120px;
    height: 0px;
    background: red;
    border-radius: 100% 100% 0px 0px;
    left: 140px;
    top: 85px;
}

.machoire {
    position: absolute;
    width: 80px;
    height: 45px;
    background: #4F77FF;
    border-radius: 0 0 20px 20px;
    left: 160px;
    top: 170px;
}

.dent{
    height:30px;
    width: 10px;
    border-radius: 15px 15px 0 0;
    position: absolute;
    background: #191919;
}

.d1{
    left: 180px;
    top: 205px;
}

.d2{
    left: 195px;
    top: 205px;
}

.d3{
    left: 210px;
    top: 205px;
}

.nez{
    height:20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    background: #191919;
    left: 190px;
    top: 175px;
}

.oeil{
    height:40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    background: #191919;
}

.og{
    left: 155px;
    top: 137px;  
}

.od{
    left: 205px;
    top: 137px;  
}