body{
  background: #6592CF;
}

.barres {
  width: 200px;
  height: 200px;
  background: #243D83;
  border-radius: 100%;
  position: absolute;
  left: 100px;
  top: 50px;
  box-shadow: -225px 0 #243D83, 225px 0 #243D83;
}

.barres::before {
  content: "";
  width: 400px;
  height: 40px;
  background: #243D83;
  position: absolute;
  left: -100px;
  top: 80px;
}

.barres::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #6592CF;
  position: absolute;
  left: -27px;
  top: 60px;
  box-shadow: 0 50px #6592CF, 225px 0 #6592CF, 225px 50px #6592CF;
}