body{
    width: 390px;
    height: 300px;
    margin-top: 0%;
    margin-left: 0%;
    background: #293462;
}

.savon {
    width: 200px;
    height: 100px;
    background: #FE5F55;
    border-radius: 20px;
    position: absolute; 
    left: 100px;
    top: 90px;
}
  
.savon_ombre{
    width: 200px;
    height: 100px;
    background: #A64942;
    border-radius: 20px;
    position: absolute; 
    left: 100px;
    top: 110px;
}
  
.milieu{
    width: 140px;
    height: 40px;
    background: #A64942;
    border-radius: 20px;
    position: absolute; 
    left: 130px;
    top: 120px;
}